<html lang="ru">
<head>
    <base href="/">
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-title" content="Как открыть автоломбард">
    <meta name="application-name" content="Как открыть автоломбард">
    <meta name="prerender-status-code" content="200">
    <meta name="viewport" content="width=device-width,initial-scale=1,min-scale=1">

    <title>@Model.PageTitle</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="/images/icons/favicon.ico">

    <link href="~/css/style1.css?@ViewBag.Soul" rel="stylesheet">
    <link href="~/css/style2.css?@ViewBag.Soul" rel="stylesheet">
</head>
<body class="chrome chrome103">
    <div id="root">
        <div>
            <header class="@ViewBag.HeaderClass">
                <div class="pseudo-header"></div>
                <div class="container">
                    <div class="header-nav">
                        <div class="logo logo_alternative" style="padding-top: 5px;">
                            <a href="/">
                                <div class="@ViewBag.LogoClass"></div>
                            </a>
                        </div>
                        <partial name="_MainMenuPartial" />
                        <div class="burger @ViewBag.BurgerClass">&#9776;</div>
                    </div>
                </div>
            </header>
            <main class="main" style="top: -780px;">
                <div class="page article-page">
                    <div class="dark-theme article-header article-header_without-picture" style="background: @Model.HeadBackgroundColor;">
                        <div class="container">
                            <div class="article-header__container">
                                <div>
                                    <section class="@ViewBag.PageTitleBlockClass">
                                        <partial name="_PageTagsPartial" />
                                        <h1>@Model.PageH1</h1>
                                        @if (!string.IsNullOrWhiteSpace(Model.PageDescription))
                                        {
                                            <div class="description">@Html.Raw(Model.PageDescription)</div>
                                        }
                                        <partial name="_ButtonsSharePartial" />
                                    </section>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="min-height: 500px;">
                        <article class="article">
                            <section>
                                @RenderBody()
                            </section>
                            @if (!string.IsNullOrWhiteSpace(Model.PageDate))
                            {
                                <section class="article-publish-date article__text">
                                    <div class="article__paragraph">@Model.PageDate</div>
                                </section>
                            }
                        </article>
                        @if (!string.IsNullOrWhiteSpace(Model.PageDate))
                        {
                            <section>
                                <div class="end-of-article">
                                    <div class="end-of-article__container">
                                        <div class="end-of-article__image" style="background: url('/images/end.jpeg') 0% 0% / cover @ViewBag.HeadBackgroundColor;"></div><div class="end-of-article__title">Конец</div>
                                    </div>
                                </div>
                            </section>
                        }
                        @*Блок дополнииельных материалов перед футером*@
                        @if (Model.RenderReadMore)
                        {
                            <partial name="_ReadmorePartial" />
                        }
                    </div>
                </div>
                <div class="article-reading-progress">
                    <div class="article-reading-progress__fullness" style="width: 100%;"></div>
                    <div class="article-reading-progress__fullness" style="width: 100%;"></div>
                </div>
            </main>

            <partial name="_FooterPartial" />

            <partial name="_MobileMenuPartial" />
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/js/main.js?@ViewBag.Soul"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>