<html lang="ru">
<head>
    <base href="/">
    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-title" content="Как открыть автоломбард">
    <meta name="application-name" content="Как открыть автоломбард">
    <meta name="prerender-status-code" content="200">
    <meta name="viewport" content="width=device-width,initial-scale=1,min-scale=1">

    <title>@ViewData["Title"]</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="icon" type="image/x-icon" href="/images/icons/favicon.ico">

    <link href="~/css/style1.css?@ViewBag.Soul" rel="stylesheet">
    <link href="~/css/style2.css?@ViewBag.Soul" rel="stylesheet">
</head>
<body class="chrome chrome103">
    <div id="root">
        <div>
            <header class="@ViewBag.HeaderClass">
                <div class="pseudo-header"></div>
                <div class="container">
                    <div class="header-nav">
                        <div class="logo logo_alternative" style="padding-top: 5px;">
                            <a href="/">
                                <div class="@ViewBag.LogoClass"></div>
                            </a>
                        </div>
                        <partial name="_MainMenuPartial" />
                        <div class="burger @ViewBag.BurgerClass">&#9776;</div>
                    </div>
                </div>
            </header>
            <main class="main" style="top: -780px;">
                <section class="articles__page-section">
                    <div class="container">
                        <div style="margin-top: 150px;" class="article__list-inner">
                            <div class="reduced-container-padding-left">
                                <h1>@Model.PageH1</h1>
                                <partial name="_PageTagsPartial" />
                                @RenderBody()                              
                            </div>
                        </div>
                    </div>
                </section>
                <div class="article-reading-progress">
                    <div class="article-reading-progress__fullness" style="width: 100%;"></div>
                    <div class="article-reading-progress__fullness" style="width: 100%;"></div>
                </div>
            </main>

            <partial name="_FooterPartial" />

            <partial name="_MobileMenuPartial" />
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/js/main.js?@ViewBag.Soul"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>