<nav class="nav">
    <span class="nav__item @ViewBag.MenuItemClass">
        <div class="nav__item_container nav__item-anal-simul">
            <a href="/analytics">Аналитика</a>
        </div>
    </span>
    <span class="nav__item @ViewBag.MenuItemClass">
        <div class="nav__item_container nav__item-anal-simul">
            <a href="/finance-simulation">Симуляция</a>
        </div>
    </span>
    <span class="nav__item @ViewBag.MenuItemClass">
        <div class="nav__item_container nav__item-articles">
            <a href="/articles">Статьи</a>
        </div>
    </span>
    <span class="nav__item @ViewBag.MenuItemClass">
        <div class="nav__item_container nav__item-articles">
            <a href="/articles/voprosi-i-otvety">ЧаВо</a>
        </div>
    </span>
    <span class="nav__item @ViewBag.MenuItemClass">
        <div class="nav__item_container nav__item-teaching">
            <a href="/articles/pomosch-pri-otkrytii-lombarda">Можем вам помочь</a>
        </div>
    </span>
</nav>