@if (Model.RenderHeadTags)
{
    <ul class="tags  @ViewBag.TagContainerClass @ViewBag.RenderHeadTagsCenter">
        <li class="tag @ViewBag.TagItemClass"><a href="#">Начать бизнес</a></li>
        <li class="tag @ViewBag.TagItemClass"><a href="#">Планирование</a></li>
        <li class="tag @ViewBag.TagItemClass"><a href="#">Свое дело</a></li>
        <li class="tag @ViewBag.TagItemClass"><a href="#">Самозанятые</a></li>
        <li class="tag @ViewBag.TagItemClass"><a href="#">ИП</a></li>
    </ul>
}