@{ Layout = "_LayoutArticle";}

<div class="articles articles-items">
    <div class="card-list with-max-width">
        <ul class="card-list__list">
            @foreach (var item in Model.List)
            {
                <li class="card card-list__card">
                    <a href="@item.PageUrl">
                        <div class="card__picture-wrapper"><img src="@item.ListImageUrl" alt="@item.ListTitle"></div>
                    </a>
                    <div class="card__detail">
                        <h4><a href="@item.PageUrl">@item.ListTitle</a></h4>
                    </div>
                </li>
            }
        </ul>
        @*<div class="card-list__show-all-button-wrapper">
            <button class="button card-list__show-all-button"><span class="button__label">Показать еще</span></button>
        </div>*@
    </div>
</div>