<html lang="ru">
<head>
    <base href="/">
    <title>@Model.MetaTitle</title>
    <meta charset="utf-8">

    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-title" content="@Model.MetaTitle">
    <meta name="application-name" content="@Model.MetaApplicationName">
    <meta name="prerender-status-code" content="200">
    <meta name="viewport" content="width=device-width,initial-scale=1,min-scale=1">
    <meta name="theme-color" content="@Model.HeadBackgroundColor" />
    <meta name="keywords" content="@Model.MetaKeywords">
    <meta name="description" content="@Model.MetaDescription">

    <meta property="og:url" content="@Model.Url(Context)">
    <meta property="og:type" content="website">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="500">
    <meta property="og:title" content="@Model.MetaTitle">
    <meta property="og:description" content="@Model.MetaDescription">
    <meta property="og:image" content="@Model.ListImageUrl">

    <link rel="icon" type="image/x-icon" href="/images/icons/favicon.ico">

    <link href="~/css/style1.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/style2.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true">

    <partial name="_HeaderTags" />
</head>
<body class="chrome chrome103">
    <partial name="_BodyTags" />
    <div id="root">
        <div>
            <header class="@Model.HeaderClass">
                <div class="pseudo-header"></div>
                <div class="container">
                    <div class="header-nav">
                        <div class="logo logo_alternative" style="padding-top: 5px;">
                            <a href="/">
                                <div class="@Model.LogoClass"></div>
                            </a>
                        </div>
                        <partial name="_MainMenuPartial" />
                        <div class="burger @Model.BurgerClass">&#9776;</div>
                    </div>
                </div>
            </header>
            <main class="main" style="top: -780px;">
                <div class="page page user-agreement-page">
                    <div class="container" style="min-height: 500px;">
                        <div class="post reduced-container">
                            <h1>@Html.Raw(Model.PageH1)</h1>
                            <div>
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article-reading-progress">
                    <div class="article-reading-progress__fullness" style="width: 100%;"></div>
                    <div class="article-reading-progress__fullness" style="width: 100%;"></div>
                </div>
            </main>

            <partial name="_FooterPartial" />

            <partial name="_MobileMenuPartial" />
        </div>
    </div>

    <script src="~/js/jquery.min.js" asp-append-version="false"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>