<html lang="ru">
<head>
    <base href="/">
    <title>@Model.MetaTitle</title>
    <meta charset="utf-8">

    <meta name="fragment" content="!">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-title" content="@Model.MetaTitle">
    <meta name="application-name" content="@Model.MetaApplicationName">
    <meta name="prerender-status-code" content="200">
    <meta name="viewport" content="width=device-width,initial-scale=1,min-scale=1">
    <meta name="theme-color" content="@Model.HeadBackgroundColor" />
    <meta name="keywords" content="@Model.MetaKeywords">
    <meta name="description" content="@Model.MetaDescription">

    <meta property="og:url" content="@Model.Url(Context)">
    <meta property="og:type" content="website">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="500">
    <meta property="og:title" content="@Model.MetaTitle">
    <meta property="og:description" content="@Model.MetaDescription">
    <meta property="og:image" content="@Model.GetUrl(Model.ListImageUrl, Context)">

    <link rel="icon" type="image/x-icon" href="@Model.GetUrl("/images/icons/favicon.ico", Context)">

    <link href="~/css/style1.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/style2.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true">

    @Html.Raw(Model.TagsHeader)
</head>
<body class="chrome chrome103">
    @Html.Raw(Model.TagsBody)
    <div id="root">
        <div>
            <header class="@Model.HeaderClass">
                <div class="pseudo-header"></div>
                <div class="container">
                    <div class="header-nav">
                        <div class="logo logo_alternative" style="padding-top: 5px;">
                            <a href="/">
                                <div class="@Model.LogoClass"></div>
                            </a>
                        </div>
                        <partial name="_MainMenuPartial" />
                        <div class="burger @Model.BurgerClass">&#9776;</div>
                    </div>
                </div>
            </header>
            <main class="main" style="top: -780px;">
                <div class="page article-page">
                    <div class="@Model.HeaderClass article-header article-header_without-picture" style="background: @Model.HeadBackgroundColor;">
                        <div class="container">
                            <div class="article-header__container">
                                <div>
                                    <section class="@Model.PageTitleBlockClass">
                                        <partial name="_PageTagsPartial" />
                                        <h1>@Model.ManualListTitle</h1>
                                        @if (!string.IsNullOrWhiteSpace(Model.PageDescription))
                                        {
                                            <div class="description">@Html.Raw(Model.PageDescription)</div>
                                        }
                                        <partial name="_ButtonsSharePartial" />
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <article class="article">
                            <section>
                                @RenderBody()                                
                            </section>
                            @if (!string.IsNullOrWhiteSpace(Model.PageDate))
                            {
                                <section class="article-publish-date article__text">
                                    <div class="article__paragraph">@Model.PageDate</div>
                                </section>
                            }
                        </article>
                        @if (!string.IsNullOrWhiteSpace(Model.PageDate))
                        {
                            <section>
                                <div class="end-of-article">
                                    <div class="end-of-article__container">
                                        <div class="end-of-article__image" style="background: url('/images/end.jpeg') 0% 0% / cover @Model.HeadBackgroundColor;"></div><div class="end-of-article__title">Конец</div>
                                    </div>
                                </div>
                            </section>
                        }
                        <partial name="_ReadmorePartial" />
                    </div>
                </div>
                <div class="article-reading-progress">
                    <div class="article-reading-progress__fullness" style="width: 100%;"></div>
                    <div class="article-reading-progress__fullness" style="width: 100%;"></div>
                </div>
            </main>

            <partial name="_FooterPartial" />

            <partial name="_MobileMenuPartial" />
        </div>
    </div>

    <script src="~/js/jquery.min.js" asp-append-version="false"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>