@if (Model.RenderReadMore)
{
    <section>
        <div class="section__title">
            <h3 class="text-center">Смотрите также</h3>
        </div>
        <section>
            <div class="card-list with-max-width">
                <ul class="card-list__list">
                    @foreach (var item in Model.ReadMoreList)
                    {
                        <li class="card card-list__card">
                            <a href="@item.PageUrl">
                                <div class="card__picture-wrapper"><img src="@item.ListImageUrl" alt="@item.ListTitle"></div>
                            </a>
                            <div class="card__detail">
                                <h4><a href="@item.PageUrl">@item.ListTitle</a></h4>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </section>
    </section>
}